<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="footer-head">
                <div class="row">
                    <div class="col s2 l1">
                        <h5 class="white-text">
                            <i class="fa fa-arrows-v" aria-hidden="true" (click)="toggleFooter()"></i>
                        </h5>
                    </div>

                    <div class="col s10 l11">
                        <h5 class="white-text">Bandar</h5>
                    </div>
                </div>
            </div>

            <div class="footer-body">
                <div class="row">
                    <div class="col s12 l12 offset-l1">
                        <p class="grey-text text-lighten-4">Social networking services · Instant messaging clients · Licence · Proprietary. Website, band.us. BAND is a mobile community application that facilitates group communication</p>
                    </div>
                </div>
            </div>

            <div class="footer-footer">
                <!--QUEDA EL DIV POR SI EL DIA DE MAÑANA SE QUIERE AGREGAR ALGO-->
            </div>

        </div>
    </div>

<!--     <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col l2 s12">
                    © 2017 Copyright Right
                </div>
            </div>
        </div>
    </div> -->
</footer>