.page-footer {
    padding-top: 0;
    background-color:#0055b8;
}

    .row {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

        i {
            cursor: pointer
        }

    .footer-copyright{
        background: #003363;
    }