<!-- <ul>
    <li *ngFor="let band of bands; let i = index">
      {{i}} {{band.name}}
    </li>
  </ul> -->

  <ul class="collection">
    <div *ngFor="let band of bands; let i = index">
        <li class="collection-item avatar">
            <img src="./assets/images/guitar.jpg" alt="" class="circle">
            <span class="title">{{band.name}}</span>
            <p>{{band.description}} <br>
               
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
    </div>
    
<!--     <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>

    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>

    <li class="collection-item avatar">
      <i class="material-icons circle green">insert_chart</i>
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>

    <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li> -->

  </ul>