<!--BARRA DE NAVEGACION SUPERIOR-->
<nav>
<div class="nav-wrapper">
    <a href="#" class="brand-logo">
        <i id="boton-colapsar" data-activates="slide-out" class="material-icons">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </i>
        <i class="fa fa-ravelry" aria-hidden="true"></i>
    </a>
</div>
</nav>

<!--BARRA DE NAVEGACION LATERAL-->
<ul id="slide-out" class="side-nav">
    <li>
        <div class="userView">
            <div class="background">
                <img src="./assets/images/abstract.jpg">
            </div>
            <a href="#!name"><span class="white-text name">Uciel</span></a>
            <a href="#!email"><span class="white-text email">uciel@gmail.com</span></a>
        </div>
    </li>

    <li><a class="subheader">Band</a></li>

    <li>
        <a class="waves-effect" routerLink="/myband">
            <i class="fa fa-music" aria-hidden="true"></i>
            My Bands
        </a>
    </li>

    <li><a class="subheader">Timeline</a></li>
    
    <li>
        <a class="waves-effect" routerLink="/timeline">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
            Timeline
        </a>
    </li>
</ul>